$backGround-top :#0a0a0a;
$color-top :#fcfafa;
$color-story-title :#f58a42;
$color-content :#696666;
$font-story :sans-serif;
$color-value :#464545;
* {
    margin: 0;
    padding: 0;
}

.fas {
    color: $color-content;
}

input {
    outline: 0;
    border: 1px rgb(177, 176, 176) solid;
}

@keyframes img-body__title {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

a {
    text-decoration: none!important;
    color: white;
    display: block;
}

ul {
    list-style: none!important;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    display: block;
    width: 100%;
    background-color: $backGround-top;
    height: 40px;
    z-index: 99;
    top: 0;
    left: 0;
}

.nav {
    height: 40px;
    width: 100%;
    display: flex;
    &__left {
        width: 20%;
        height: 100%;
        .nav-left__logo {
            color: $color-top;
            font-size: 20px;
            font-family: sans-serif;
            display: block;
            padding: 10px 0;
            position: absolute;
            z-index: 99;
        }
    }
    &__right {
        height: 100%;
        width: 80%;
        .nav-right__list {
            height: 100%;
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-between;
            .story-menu {
                &:hover .nav-right-item__menu {
                    animation-name: menu-story;
                    animation-duration: 0.5s;
                    animation-timing-function: ease;
                    display: block;
                }
            }
            .nav-right__item {
                height: 100%;
                width: 19%;
                display: block;
                line-height: 29px;
                &:hover a.nav-right__items::before {
                    width: 96px;
                    visibility: visible;
                }
                .nav-right-item__menu {
                    display: none;
                    background: white;
                    width: 220px;
                    margin: 10px 0 0 0;
                    li.nav-right-item-menu__items {
                        width: 100%;
                        padding: 10px 0 0 9px;
                        &:hover a::before {
                            width: 97%;
                            visibility: visible;
                        }
                        a {
                            width: 100%;
                            position: relative;
                            display: block;
                            font-weight: bold;
                            height: 30px;
                            color: black;
                            text-decoration: none;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 15px;
                            &::before {
                                content: "";
                                width: 0%;
                                border: 3px rgb(226, 114, 114) solid;
                                position: absolute;
                                top: 29px;
                                left: -9px;
                                transition: ease 0.2s;
                                visibility: hidden;
                            }
                        }
                    }
                }
                a.nav-right__items {
                    color: $color-top;
                    text-decoration: none;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 15px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0px;
                        top: 36px;
                        border: 2px #e61414 solid;
                        transition: 0.5s;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

.delivery {
    display: flex;
    position: relative;
    margin-top: 84px;
    &__form {
        width: 65%;
        padding: 40px 0 0 10px;
        height: 400px;
        background: #e8e6e6;
        box-shadow: 4px 0px 11px -2px grey;
        .delivery__title {
            font-family: $font-story;
            font-size: 25px;
            font-weight: bold;
        }
        .delivery__form-detail {
            margin: 20px 0 0 0;
            .delivery-form__address {
                display: block;
                width: 93%;
                display: block;
                padding: 8px 0 8px 40px;
            }
            .address-icon {
                position: absolute;
                margin-top: -28px;
                font-size: 20px;
                padding: 0 10px;
            }
            .delivery-form-sub {
                margin-top: 40px;
            }
            .delivery-form__note {
                width: 93%;
                display: block;
                padding: 8px 0 8px 40px;
                margin: 40px 0;
            }
            .delivery-form-sub {
                display: flex;
                width: 100%;
                .left {
                    width: 50%;
                    input {
                        width: 84%;
                        padding: 10px 0 10px 50px;
                    }
                    .user-name {
                        position: absolute;
                        left: 3%;
                        font-size: 20px;
                        margin: 7px 0 0 -10px;
                    }
                }
                .right {
                    width: 50%;
                    input {
                        width: 84%;
                        padding: 10px 0 10px 50px;
                    }
                    .user-phone {
                        position: absolute;
                        left: 36%;
                        font-size: 20px;
                        margin: 7px 0 0 -10px;
                        transform: rotate( 180deg);
                    }
                }
            }
        }
    }
}

.block-products__cart {
    width: 30%;
    background: #f5f3ef;
    height: 450px;
    top: 80px;
    right: 20px;
    position: fixed;
    padding: 0 10px;
    .block-products__handler {
        height: 80%;
        overflow-y: scroll;
        .block-products-cart__list {
            .block-products-cart__main {
                display: flex;
                width: 100%;
                padding: 30px 0 20PX 0;
                justify-content: space-between;
                .block-products-cart__lable {
                    width: 50%;
                }
                .block-products-cart__total-money {
                    width: 50%;
                    text-align: right;
                }
            }
            .block-products-cart__item {
                width: 100%;
                display: flex;
                border-bottom: 2px gray solid;
                justify-content: space-between;
                padding: 20px 0 10px 0;
                span.block-products-cart__count {
                    width: 10%;
                    text-align: center;
                    border: 1px gray solid;
                    line-height: 35px;
                    background: orange;
                    color: white;
                }
                .block-products-cart__mid {
                    width: 66%;
                    .block-products-cart__name {
                        font-weight: bold;
                    }
                    .block-products-cart__size,
                    .block-products-cart__price {
                        color: rgb(202, 201, 201);
                    }
                }
                .block-products-cart__price {
                    width: 20%;
                }
            }
        }
    }
}

.block-products__btn {
    width: 90%;
    text-align: center;
    background: chocolate;
    color: white;
    height: 40px;
    margin: 10px auto;
    font-weight: bolder;
    line-height: 40px;
}

.footer {
    width: 100%;
    background: black;
    margin: 60px 0 0 0;
    position: relative;
    z-index: 999;
    .footer-top {
        display: flex;
        width: 100%;
        &__item {
            width: 25%;
            color: white;
            font-size: 16px;
            padding: 30px 0;
            .gov {
                width: 50%;
            }
            &-title {
                padding-bottom: 20px;
                &--pading {
                    padding-top: 30px;
                }
            }
            &-content {
                padding: 5px 0;
            }
            .footer-top__logo {
                margin: 105px 0;
                font-family: fantasy;
            }
        }
    }
    .footer-bottom {
        width: 100%;
        color: white;
        font-size: 20px;
        font-weight: 800;
        &__line {
            width: 100%;
            border: 1px #eab656 solid;
        }
        &__list {
            width: 100%;
            display: flex;
            padding: 20px 0 0 0;
            li.footer-bottom__item--with-50 {
                width: 50%;
            }
            li.footer-bottom__item--with-25 {
                width: 25%;
            }
        }
    }
}