* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none !important; }

ol,
ul {
  padding-left: 0px !important; }

.container {
  width: 1200px !important;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 40px;
  background: #435c70;
  position: fixed;
  top: 0%;
  left: 0; }

a:hover {
  text-decoration: none !important; }

.header-block {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .header-block .header__left {
    width: 90%; }
    .header-block .header__left h3.header-left__logo {
      color: #fcfafa;
      font-family: sans-serif;
      margin-top: 10px; }
  .header-block .header__right {
    width: 5%; }
    .header-block .header__right .header-right__avatar {
      text-align: right;
      width: 100%;
      height: 40px;
      border-radius: 50%; }

body {
  background-color: #d4d4d396; }

body .popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed; }
  body .popup__box {
    color: black;
    width: 40%;
    border: 1px gray solid;
    margin: 0 auto; }
    body .popup__box .popup__top {
      margin: 30px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 20px;
      height: 70px;
      border-bottom: 1px gray solid; }
      body .popup__box .popup__top .popup__product {
        width: 20%;
        height: 100%; }
      body .popup__box .popup__top .popup__right {
        width: 75%; }
        body .popup__box .popup__top .popup__right p.popup__size {
          margin: -15px 0;
          color: #696666; }
    body .popup__box .popup__check {
      width: 100%;
      height: 50%;
      padding-bottom: 10px;
      border-bottom: 1px gray solid;
      display: flex; }
      body .popup__box .popup__check .popup__size-item {
        width: 33%;
        text-align: center; }
    body .popup__box .popup__end {
      display: flex;
      width: 100%;
      height: 50px; }
      body .popup__box .popup__end .popup-end__left {
        width: 50%;
        display: flex; }
        body .popup__box .popup__end .popup-end__left .popup-end__item {
          width: 33%;
          text-align: center;
          margin: 10px;
          border: 1px gray solid;
          border-radius: 100px;
          background: orange;
          cursor: pointer; }
        body .popup__box .popup__end .popup-end__left .popup-end__sub {
          line-height: 14px; }
        body .popup__box .popup__end .popup-end__left .btn-add-to-cart {
          width: 100%;
          background: bisque;
          text-align: center;
          line-height: 45px;
          color: black;
          font-weight: 800; }
      body .popup__box .popup__end .btn-add-to-cart {
        width: 100%;
        background: bisque;
        text-align: center;
        line-height: 45px;
        color: black;
        font-weight: 800; }
      body .popup__box .popup__end .popup-end__right {
        width: 50%; }

.background-body {
  background-image: url("img/background1.webp");
  position: relative;
  margin-top: -200px;
  width: 100%;
  height: 600px; }

.block-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px; }
  .block-products__menu {
    width: 20%;
    background: #f5f3ef;
    height: 580px;
    top: 80px;
    left: 20px;
    position: fixed;
    z-index: 2; }
    .block-products__menu .block-products-menu-list__item {
      padding: 20px 0 0 35px; }
      .block-products__menu .block-products-menu-list__item a {
        color: #969494;
        width: 98%; }
        .block-products__menu .block-products-menu-list__item a::before {
          content: "";
          position: absolute;
          border: 2px #dbc712 solid;
          width: 0;
          margin: 20px -34px;
          transition: 0.5s;
          visibility: hidden; }
      .block-products__menu .block-products-menu-list__item:hover a::before {
        width: 98%;
        visibility: visible; }
  .block-products__list {
    width: 45%;
    margin-left: 300px; }
    .block-products__list .search {
      position: relative;
      width: 95%; }
      .block-products__list .search .block-products__search {
        outline: none;
        width: 100%;
        height: 20PX;
        padding: 10px 0 10px 40px; }
      .block-products__list .search .fas.fa-search.search-icon {
        position: absolute;
        top: 20%;
        font-size: 25px;
        color: #abaaa8;
        padding: 0 20px; }
    .block-products__list .block-products__title {
      padding: 5px 0;
      font-weight: lighter;
      font-family: sans-serif;
      font-size: 15px; }
    .block-products__list .block-products__items {
      background-color: white;
      display: block; }
      .block-products__list .block-products__items .block-products__item {
        padding: 20px 0;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        border-bottom: 0.5px #b8b6b6 solid; }
        .block-products__list .block-products__items .block-products__item .block-products__img-left {
          width: 15%;
          object-fit: cover; }
        .block-products__list .block-products__items .block-products__item .block-products__right {
          width: 80%; }
          .block-products__list .block-products__items .block-products__item .block-products__right .block-products__name {
            font-weight: bold;
            font-family: sans-serif;
            padding: 5px 0; }
          .block-products__list .block-products__items .block-products__item .block-products__right .block-products__description,
          .block-products__list .block-products__items .block-products__item .block-products__right .block-products__price {
            font-weight: lighter;
            color: #696666;
            padding: 5px 0; }
          .block-products__list .block-products__items .block-products__item .block-products__right .add {
            display: block;
            text-align: right;
            font-style: 40px;
            margin: -40px 20px;
            font-size: 35px;
            color: red;
            cursor: pointer; }
  .block-products__cart {
    width: 28%;
    background: #f5f3ef;
    height: 450px;
    top: 80px;
    right: 20px;
    position: fixed;
    padding: 0 10px; }
    .block-products__cart .block-products__handler {
      height: 80%;
      overflow-y: scroll; }
      .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__main {
        display: flex;
        width: 100%;
        padding: 30px 0 20PX 0;
        justify-content: space-between; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__main .block-products-cart__lable {
          width: 50%; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__main .block-products-cart__total-money {
          width: 50%;
          text-align: right; }
      .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item {
        width: 100%;
        display: flex;
        border-bottom: 2px gray solid;
        justify-content: space-between;
        padding: 20px 0 10px 0; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item span.block-products-cart__count {
          width: 10%;
          text-align: center;
          border: 1px gray solid;
          line-height: 35px;
          background: orange;
          color: white; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .block-products-cart__mid {
          width: 50%; }
          .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .block-products-cart__mid .block-products-cart__name {
            font-weight: bold; }
          .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .block-products-cart__mid .block-products-cart__size,
          .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .block-products-cart__mid .block-products-cart__price {
            color: #cac9c9; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .block-products-cart__price {
          width: 20%; }
        .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .delete-icon {
          width: 10%;
          color: #df0f0f;
          font-size: 20px;
          transition: 1s;
          transition-timing-function: ease; }
          .block-products__cart .block-products__handler .block-products-cart__list .block-products-cart__item .delete-icon:hover {
            font-size: 30px;
            color: blue; }
    .block-products__cart .block-products__btn {
      width: 90%;
      text-align: center;
      background: chocolate;
      color: white;
      height: 40px;
      margin: 10px auto;
      font-weight: bolder;
      line-height: 40px; }

/*# sourceMappingURL=ordertable.css.map */
